/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap");


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



body {
    background-color: #55BCD5;
}

h4,
p,
q,
small,
nav,
button,
form {
    font-family: 'Montserrat', sans-serif;
}

#intro h2 {
    font-size: 52px;
}

#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    text-align: center;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}




@media screen and (min-width: 380px) {

    #menu-toggle {
        display: block;
        right: 0;
        z-index: 100;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #menu-toggle a {
        text-decoration: none;
        color: #232323;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
        text-align: center;
    }

    #menu-toggle input {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -7px;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }

    #menu-toggle label {
        color: black;
        text-align: center;
        background-color: yellow;
        width: 200px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;

        display: block;
        border-radius: 3px;
        z-index: 1;
        -webkit-transform-origin: 4px 0px;
        -ms-transform-origin: 4px 0px;
        transform-origin: 4px 0px;
        -webkit-transition: right 0.3s ease;
        -o-transition: right 0.3s ease;
        transition: right 0.3s ease;
    }

    #menu-toggle ul {
        position: absolute;
        background-color: #499BD2;
        list-style-type: none;
        width: 150px;
        border-radius: 1px;
        float: right;
        right: -100%;
        /* Hide the menu off-screen to the left */

        -webkit-transition: right 0.3s ease;
        -o-transition: right 0.3s ease;
        transition: right 0.3s ease;

    }

    #menu-toggle li {
        padding: 10px 0;
        font-size: 22px;
    }

    #menu-toggle h2 {
        display: none;
    }

    #menu-toggle input:checked~ul {
        position: absolute;
        top: 20px;
        right: 0;
    }

    header {
        display: grid;
        grid-template-columns: 1fr;
    }


    #intro {
        background-color: white;
        justify-content: center;
    }

    #img-grid img {
        display: grid;
        grid-template-columns: 1fr;
        width: 390px;
    }






    #plan {
        background-color: #F6D64A;
        display: grid;
        justify-content: center;



    }

    #plan div {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;




    }

    #plan section {
        background-color: #55BCD5;
        border: 5px solid white;
        border-radius: 5px;
        text-align: center;
        grid-column-gap: 20px;

        padding: 20px;

    }




    h1,
    h2,
    h3 {
        font-family: 'Molle', cursive;
        font-weight: bold;
    }

    #plan h4 {
        grid-row: 1;
        grid-column: 1;
    }

    #plan h3 {
        font-size: 30px;
        padding: 20px;
        text-align: center;
    }

    #testimonials {
        display: grid;
        justify-items: center;
        background-color: white;
    }

    #testimonials div {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
    }

    #testimonials h4 {
        font-weight: bold;
        font-size: 35px;
    }

    #testimonials p {
        font-size: 23px;

    }

    #testimonials q {
        font-size: 23px;
    }

    #about {
        background-color: #499BD2;
        padding: 20px;
    }

    #about div {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        justify-items: center;



    }

    #about h4 {
        font-weight: bold;
        font-size: 23px;
    }

    #about p {
        font-size: 18px;
    }

    #about h3 {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }

    #contact h3 {
        background-color: white;
        text-align: center;
        padding-bottom: 10px;
    }

    form {
        background-color: white;
        display: block;
        display: grid;
        justify-content: center;
        color: #9B26B0;

    }

    label {
        display: block;
        color: #9B26B0;

    }

    input[type="email"],
    input[type="tel"],
    input[type="text"] {
        border: 1px solid #9B26B0;
        border-radius: 5px;
        font-size: 1rem;
        padding: 0.5rem;
    }

    input[type="submit"] {
        display: block;
        background-color: #9B26B0;
        color: white;
        width: 150px;
        margin-top: 5px;
        height: 30px;
        margin-bottom: 10px;



    }

    footer {
        display: grid;
        background-color: #EAEAEA;
        justify-content: center;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;



    }

    footer a {
        text-decoration: none;
        color: #222222;
    }



}

@media screen and (min-width: 768px) {
    #intro h2 {
        grid-template-columns: 1fr 1fr;

    }


    #img-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0%;
        width: 1000px;
    }


    #plan div {
        grid-template-columns: 1fr 1fr;
    }

    #testimonials div {
        grid-template-columns: 1fr 1fr;

    }

    #about div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #menu-toggle ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: white;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 700px;
        justify-items: center;
        right: 0;
        position: relative;
        list-style: none;




    }

    ul li {
        display: inline-block;
    }

    ul a {
        display: block;
    }




    header {
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    #menu-toggle label {
        color: black;
        text-align: center;
        background-color: yellow;
        justify-content: center;
        width: 200px;
        height: 30px;
        display: none;
        border-radius: 3px;
        z-index: 1;
        -webkit-transform-origin: 4px 0px;
        -ms-transform-origin: 4px 0px;
        transform-origin: 4px 0px;
        -webkit-transition: right 0.3s ease;
        -o-transition: right 0.3s ease;
        transition: right 0.3s ease;
    }

    #menu-toggle h2 {
        display: none;
    }


}

@media screen and (min-width: 1250px) {
    #testimonials div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #plan div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    form {
        display: grid;

        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

}